.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/

.DS_Store
.vscode
.ssotme
.idea

# scratch files and folders
scratch.ipynb
cook*

# Code generation airtable
CodeGenerationTools/GridworksCore/SSoT/Airtable.xml
CodeGenerationTools/GridworksCore/SassyMQ/
.ssotme

# Django dev db:
/src/gnf/django_related/db.sqlite3


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# algo related
*.teal
*.teal.tok


output_data/**
!output_data/**/
!output_data/**/__init__.py
